* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  margin: 2% 20%;
}

#header {
  display: flex;
  background-color: lightgray;
  padding: 20px;
}
.dropdown {
  display: flex;
  padding: 16px;
  width: 200px;
  margin: 10px;
  border-radius: 10px;
}
#showSurah {
  flex: 1;
}
#showSurah p {
  display: flex;
  justify-content: end;
  font-size: 25px;
  padding: 10px;
}
body {
  font-family: 39px;
  font-weight: 600;
  /* width: 100vw;
  height: 100vh; */
  /* margin: 0; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
}
.container {
  width: 60%;
  /* min-height: 100vh; */
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.playr {
  width: 100%;
  background-color: #38354a;
  padding: 25px;
  color: #d2d9e5;
}
.playr-ui {
  display: flex;
  align-items: stretch;
}
.playr-controls {
  width: 20%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.playr-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 15px;
  position: relative;
}
.playr-ui.volume-controls .playr-panel {
  width: 70%;
}
.playr-controls button {
  color: red;
  background-color: transparent;
  border: medium none;
  padding: 0;
  cursor: pointer;
  font-size: 35px;
  line-height: 1;
}
.playr-controls button::after {
  font-family: "Material Design Icons";
  @include flex-center;
}

.playr-play::after {
  content: "\f40a";
}

.playr.playing .playr-play::after {
  content: "\f3e4";
}

/* .playr-fastforward::after {
  content: "\f211";
}

.playr-rewind::after {
  content: "\f45f";
} */

.playr-controls button:hover {
  color: #fff;
}
.playr-controls button::after {
  font-family: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playr-rewind::after,
.playr-fastforward::after {
  font-size: 21px;
}
.playr-progress {
  background-color: #5f6672;
  height: 4px;
  bottom: 2px;
  left: 15px;
  position: absolute;
  width: calc(100% - 30px);
  cursor: pointer;
}
.playr-progress-bar {
  background-color: #d2d9e5;
  height: 100%;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 0 0;
  width: 100%;
}
.playr-duration,
.playr-filename {
  font-size: 16px;
  position: absolute;
  top: 0;
  width: 100%;
  font-weight: 600;
}
.playr-filename {
  left: 15px;
  text-align: left;
  left: 15px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.playr-duration {
  right: 15px;
  text-align: right;
}
.playr-volume {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.playr-volume-box.hidden {
  background-color: #38354a;
  bottom: 0;
  height: 100px;
  position: absolute;
  width: 35px;
  display: none;
}
.playr-volume-box {
  background-color: #5f6672;
  height: 4px;
  width: 100%;
  cursor: pointer;
}
.playr-volume-box span {
  display: block;
  background-color: #d2d9e5;
  height: 100%;
  width: 100%;
  transform: scale3d(1, 1, 1);
  transform-origin: 0 0 0;
}
/* compact */
.playr.compact .playr-rewind,
.playr.compact .playr-fastforward {
  display: none;
}
.playr-filename.overflow span {
  animation: 5000ms linear 0ms normal forwards infinite running scroll;
  display: inline-block;
  margin-right: 0;
  padding-right: 100%;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes scroll {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(-100%, 0px, 0px);
  }
}
