* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background: url("https://static.vecteezy.com/system/resources/previews/001/984/892/original/banner-design-geometric-hexagon-colorful-overlapping-with-background-free-vector.jpg");
}

#header {
  display: flex;
  flex-wrap: wrap;
  background-color: #5f6672;
  padding: 20px;
  direction: rtl;
}
.dropdown {
  font-size: 20px;
  flex: 1;
  padding: 16px;
  padding-left: 25px;
  width: 30%;
  margin: 7px;
  border-radius: 10px;
  min-width: 150px;
  position: relative;
}
select {
  width: 250px;
}

option {
  width: 250px;
}
#showSurah {
  flex: 1;
}
#showSurah p {
  font-size: 25px;
  padding: 10px;
  direction: rtl;
}

body {
  font-family: 39px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}
.parent {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  opacity: 0.9;
  max-width: 1300px;
  margin: auto;
}
.container {
  width: calc(100%);
  max-width: 1300px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.playr {
  width: 100%;
  background-color: #38354a;
  padding: 20px;
  color: #d2d9e5;
  direction: ltr;
}
.playr-ui {
  display: flex;
  align-items: stretch;
}
.playr-controls {
  width: 13%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.playr-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 15px;
  position: relative;
}
.playr-ui.volume-controls .playr-panel {
  width: 70%;
}
.playr-controls button {
  color: red;
  background-color: transparent;
  border: medium none;
  padding: 0;
  cursor: pointer;
  font-size: 35px;
  line-height: 1;
}
.playr-controls button::after {
  font-family: "Material Design Icons";
  @include flex-center;
}

.playr-play::after {
  content: "\f40a";
}

.playr.playing .playr-play::after {
  content: "\f3e4";
}

.playr-controls button:hover {
  color: #fff;
}
.playr-controls button::after {
  font-family: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playr-rewind::after,
.playr-fastforward::after {
  font-size: 21px;
}
.playr-progress {
  background-color: #5f6672;
  height: 4px;
  bottom: 2px;
  left: 15px;
  position: absolute;
  width: calc(100% - 30px);
  cursor: pointer;
}
.playr-progress-bar {
  background-color: #d2d9e5;
  height: 100%;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 0 0;
  width: 100%;
}
.playr-duration,
.playr-filename {
  font-size: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  font-weight: 600;
}
.playr-filename {
  left: 15px;
  text-align: left;
  left: 15px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.playr-duration {
  right: 15px;
  text-align: right;
}
.playr-volume {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.playr-volume-box.hidden {
  background-color: #38354a;
  bottom: 0;
  height: 100px;
  position: absolute;
  width: 35px;
  display: none;
}
.playr-volume-box {
  background-color: #5f6672;
  height: 4px;
  width: 100%;
  cursor: pointer;
}
.playr-volume-box span {
  display: block;
  background-color: #d2d9e5;
  height: 100%;
  width: 100%;
  transform: scale3d(1, 1, 1);
  transform-origin: 0 0 0;
}
.playr.compact .playr-rewind,
.playr.compact .playr-fastforward {
  display: none;
}
.playr-filename.overflow span {
  animation: 5000ms linear 0ms normal forwards infinite running scroll;
  display: inline-block;
  margin-right: 0;
  padding-right: 100%;
  transform: translate3d(0px, 0px, 0px);
}

.loading {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
}

@keyframes scroll {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(-100%, 0px, 0px);
  }
}
@media screen and (max-width: 768px) {
  #showSurah p {
    font-size: 16px;
  }
  .dropdown {
    font-size: 16px;
    padding: 10px;
  }
  option {
    padding: 10px;
    width: 10px;
  }
}

.move-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 25px;
  background-color: #5f6672;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
