* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  margin: 2% 20%;
}

#header {
  display: flex;
  background-color: lightgray;
  padding: 20px;
}
.dropdown {
  display: flex;
  padding: 16px;
  width: 200px;
  margin: 10px;
  border-radius: 10px;
}
#showSurah p {
  display: flex;
  justify-content: end;
  font-size: 25px;
  padding: 10px;
}
